.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0;
  margin-left: .2rem;
  margin-right: .2rem;
}

.namenav {
  position: relative;
}

.myname {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  font-size: 3rem;
}

.mainnav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: .5rem;
}

.line {
  height: 3rem;
  width: 100rem;
  color: black;
}
